

body{
  height: 100vh;
}

.bg-blue {
  background-color: #160f4e;
}

/*** checkbox icon start ***/

input[type='checkbox'] {display:none;}
input[type='checkbox'] + label:before {
  font: normal normal normal 14px/1 FontAwesome;
  display: inline-block;
  font-size: 1rem;
  color: #10074f;
}
/* unchecked */
input[type='checkbox'] + label:before { 
  content: '\f096';
  font-weight:100;
}
/* checked */
input[type='checkbox']:checked + label:before {
  font-weight:900;
  content: '\f046';
  color: #bbb;
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
  color: #bbb;
}

/*** checkbox icon end ***/

.jumbotron{
  background: url(../img/intro.png) 0 0 fixed no-repeat;
  background-size: cover;
}

.download-file{
  background-color: #fbfbfb;
  box-shadow: 0px -40px 40px 0px #0b0f259e;
}


/*** animated navbar start ***/

.navbar{
  box-shadow: 0px 0px 40px 0px #0b0f259e;
  transition: ease-in-out all 0.3s;
}
.anim_nav{
  opacity: 0;
  top:-20px;
}
/*** animated navbar end ***/

/*** checklist start ***/

.principles{
  background: url(../img/bk.png) 0 0 fixed no-repeat;
  background-size: cover;
}

.card{
  background-color: #f7f7f7;
}

.card-header .btn{
  font-size: 1.3rem;
}

.card-header .btn .fa::before{
  content: '\f077';
}

.card-header .btn.collapsed .fa::before{
  content: '\f078';
}

.form-check {
  font-size: 1.1rem;
  padding: 5px;
}

a.toggle_hint {
  font-size: .8rem;
  color: #797979 !important;
  cursor: pointer;
}

.hint{
  display: none;
  font-size: 1rem;
  font-style: italic;
}

.hint > div {
  padding: 10px;
}

.hint ul{
  padding-left: 20px;
}

/*** checklist end ***/


/*** form Print start ***/

.form_print .hint, .form_print .toggle_hint, .form_print button[type="submit"]{
  visibility: hidden;
}